<ifModule mod_headers.c>
ExpiresActive On
 
# Expires after 1 month
<filesMatch ".(gif|png|jpg|jpeg|ico|js|htm|html|txt)$">
Header set Cache-Control "max-age=2592000"

# Allow all browser users to cache this
Header append Cache-Control "public"
</filesMatch>
 

</ifModule>